<p>Hello {{ user.realName }}, </p>

<p>
    Welcome to Deimos, <br>
    An account has been created for you, your account name is {{ user.username }}.
</p>

<p>
    Click the following link to set your password.
</p>

<p>
    <a href="{{ url('homepage') }}#/change-password/{{ token }}">{{ url('homepage') }}#/change-password/{{ token }}</a>
</p>