<p>Hello {{ user.realName }}, </p>

<p>
    Welcome to Deimos, <br>
    An account has been created for you, your account name is {{ user.username }}.
</p>

<p>
    Deimos is a GRIP planning tool that will be used to display shifts and tasks for GRIP teams.
    Each shift type has its own color, the meaning of the color can be found in the legend at the top of the application.
    The times that are shown are the times formatted for the team the shift/tasks were planned for.
</p>

<p>
    At the top left of the application you can select a month to see what the planning is for that month, you are able to go both to the past and the future.
</p>

<p>
    Click the following link to set your password.
</p>

<p>
    <a href="{{ url('homepage') }}#/change-password/{{ token }}">{{ url('homepage') }}#/change-password/{{ token }}</a>
</p>