<p>Hello {{ user.realName }}, </p>

<p>
    You've requested a new password for the account {{ user.username }}. <br>
    Click the link below to change your password.
</p>

<p>
    <a href="{{ url('homepage') }}#/change-password/{{ token }}">{{ url('homepage') }}#/change-password/{{ token }}</a>
</p>